mat-form-field {
  width: 100%;
}

form {
  display: flex;
}

.set-players {
  display: flex;
  justify-content: space-evenly;
  flex: 1;

  > div {
    width: 100%;
  }
}

.set-player {
  display: flex;

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.form-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}
