<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3>Scoreboard</h3>
    <span class="toolbar-spacer"></span>
    <div class="actions">
      <a mat-flat-button routerLink="/scoreboard" aria-label="Launch Scoreboard">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="manage-form">
  <div class="manage-gamesets">
    <app-select-gameset></app-select-gameset>
  </div>
  <div class="manage-players">
    <app-select-set-players></app-select-set-players>
  </div>

</div>

