<h3>List of game-sets</h3>

<div class="manage-gameset">
  <form (ngSubmit)="selectGameset()" [formGroup]="selectGamesetForm">
    <mat-form-field>
      <mat-label>Game Sets</mat-label>
      <mat-select formControlName="gameset">
        <mat-option *ngFor="let gameset of gameSetsList$ | async" [value]="gameset">
          #{{ gameset.game }}: {{ gameset.player1.player.name | playerName:gameset.player1.player.team }}
          vs. {{ gameset.player2.player.name | playerName:gameset.player2.player.team }}
          ({{ gameset.player1.score }} - {{ gameset.player2.score }})
        </mat-option>

      </mat-select>
    </mat-form-field>
  </form>
  <div class="gameset-actions">
    <button mat-button color="primary" type="button" aria-label="Delete Game-set"
      [disabled]="!selectGamesetForm.value.gameset" (click)="deleteGameset()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button color="primary" type="button" aria-label="Refresh list"
      (click)="refreshGamesetList()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button color="primary" type="button" aria-label="Create new Game-set"
      (click)="newGameset()">
      <mat-icon>add_to_queue</mat-icon>
    </button>

  </div>

</div>
