<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>face</mat-icon> </div>
    <mat-card-title>Player Details</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="save(playerDetailsForm)" #playerDetailsForm="ngForm">
    <input type="hidden" [(ngModel)]="player._id" name="_id">
    <mat-card-content>

      <mat-form-field class="player-team">
        <input matInput [(ngModel)]="player.team"
          maxlength="4" placeholder="Team" name="team">
        <button (click)="player.team=''" mat-button matSuffix mat-icon-button aria-label="Clear"
          type="button" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="player-name">
        <input matInput [(ngModel)]="player.name"
          maxlength="40" placeholder="Name" name="name">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="player.name=''"
          type="button" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" type="submit" aria-label="Save">
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>


