mat-form-field {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.mat-card-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5rem;
  }
}

.player-team {
  width: 7.5rem;
}
