:host {
  display: flex;
  justify-content: space-between;
}

.player-team {
  width: 7.5rem;
}
.player-name {
  flex: 1 1 auto;
  padding: 0 1rem;
}
.save-player {
  display: flex;
  align-items: center;
}
