<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3>Players</h3>
    <span class="toolbar-spacer"></span>
    <div class="actions">
      <button mat-flat-button (click)="resetPlayers()" aria-label="Reset Players List" type="button">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="manage-players">
  <div class="player-list">
    <app-players-list #playerList></app-players-list>
  </div>

  <div class="player-details">
    <app-player-details
      *ngIf="playerList.selectedPlayer"
      [player]="playerList.selectedPlayer"
      ></app-player-details>
  </div>
</div>
